<div class="sfui-content scrollable-container">

  <section>
    <div class="mat-body-1">Your API credentials</div>
    <mat-card>
      <mat-card-content fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="flex-start flex-start" fxLayoutGap="10px" fxFlex>
          <div>
            <div class="mat-body-2">Token</div>
            <div class="mat-body-1" *ngIf="!isAdmin">{{token}}</div>
            <div class="mat-body-1" *ngIf="isAdmin">Token is not available for admin users.</div>
          </div>
          <div>
            <div class="mat-body-2">Store ID</div>
            <div class="mat-body-1">{{currentStore.id}}</div>
          </div>
          <div>
            <div class="mat-body-2">Store Name</div>
            <div class="mat-body-1">{{currentStore.name}}</div>
          </div>
        </div>
        <a [href]="apiDocsLink" target="_blank" class="docs-link">API Documentation</a>
      </mat-card-content>
    </mat-card>
  </section>
  <section>
    <div class="mat-body-1">Integrations</div>
    <mat-card>
      <mat-card-content fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="accent" (click)="goToToZapier()">Connect</button>
      </mat-card-content>
    </mat-card>

  </section>
    <section *ngIf="hasTickets">
        <div class="mat-body-1">Async operations</div>
        <mat-card class="actions">
            <mat-card-content fxLayout="row">
                <div fxFlex></div>
                <button mat-stroked-button color="accent" (click)="openFilters()">Filters</button>
            </mat-card-content>
        </mat-card>
        <div *ngIf="isLoadingResults" class="progress-bar-wrapper">
            <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
        </div>
        <div class="table-container mat-elevation-z1">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Ticket</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type</th>
                    <td mat-cell *matCellDef="let element">
                        <rch-ticket-type-label [ticketType]="element.type"></rch-ticket-type-label>
                    </td>
                </ng-container>

                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> Status</th>
                    <td mat-cell *matCellDef="let element">
                        <rch-ticket-state-label [state]="element.state"></rch-ticket-state-label>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.isBlocked]="!row.isActive"
                    (click)="showTicketDetails(row.id)"></tr>
            </table>
            <div *ngIf="!isLoadingResults && !dataSource?.data?.length" class="no-results mat-body-1">
                No tickets found.
            </div>
        </div>
    </section>
</div>
